extends ./layout.jade
block contenido
    div(class="col-md-12 remover_float center-block text-center big-top")
        h1 WELCOME TO TORRE
        a(href="/login" class="right-space") SingIn
        a(href="/signup") Register
    

