
html(lang="en")
    head
        meta(charset="UTF-8")
        title Torre
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/app.css" rel="stylesheet")
    body
        nav(class="large-padding black white-text")
            ul
                li 
                    a(href="/app") Persons
                li 
                    a(href="/app/imagen") Jobs
        block contenido
            
        
