extends ./layout.jade

block contenido
    div(class="row justify-content-center")
        div(class="col-md-6 remover_float center-block big-top left-top")
            h1 Login
            form(action="profile" method="post")

                div(class="form-group green-text")
                    label(for="username") Username    
                    input(type="text"  name="username" placeholder="username" id="username" , class="form-control") 
                    div(class="form-group green-text")
                    label(for="pass") Pass  
                    input(type="password", name="password" placeholder="pass" id="pass" class="form-control")
            
                div(class="row pl-4 big-top ")
                    div(class="col-xs-12 form-group right-space")
                        input(type="submit", value="Send")
                    div(class="col-sm-6 text-right")
                        a(href="/signup")     don't have account



