extends ./layoutSesion.jade
block contenido

  
    div(class="row justify-content-center ")
        div(class="col-md-6 remover_float center-block big-top left-top ")
           
            form(action="profile" method="post")

                div(class="form-group green-text")                    

                    label(for="searchjob") List Job
                    ul
                        li 
                            a(href="job") Quality Leader

            

    

