extends ./layout.jade

block contenido
    div(class="row justify-content-center")
        div(class="col-md-6 remover_float center-block big-top left-top")
            h1 Login
            form(action="user" method="post")
                div(class="form-group green-text")
                    label(for="email") Email    
                    input(type="text"  name="email" placeholder="email" id="email" , class="form-control") 

                div(class="form-group green-text")
                        label(for="user") UserName    
                        input(type="text"  name="username" placeholder="email" id="user" , class="form-control") 
                    
                    div(class="form-group green-text")
                            label(for="pass") Pass  
                            input(type="password", name="password" placeholder="pass" id="pass" class="form-control")
                    
                    div(class="form-group green-text")
                            label(for="pass_confirm") Pass confirmation
                            input(type="password", name="password_confirmation" placeholder="pass_confirm" id="pass_confirm" class="form-control")
                    
                    div(class="row pl-4 big-top ")
                        div(class="big-top")
                            input(type="submit", value="Send")
                        div(class="col-sm-6 text-right ")
                            a(href="/login")     Account
