body{
    background-color: rgb(17, 16, 16);
}

.right-space{
    margin-right: 1em ;
}

.remove_float{
    float: none;
}

.top-space{
    margin-top: 1.5em;
}

.big-top-space{
    margin-top: 200px;
}

.large-padding{
    padding: 10px 15px;    
}

.large-padding-layout{
    padding: 32px 15px;  
}

.picture-fix{
    width: 100px; 
}

.black{
    background-color: rgb(35, 36, 37);}

.white-text{
    color: white;}

.green-text{
    color: yellowgreen;}

nav {
    text-align: right;    
}

nav li{
    display: inline-block;
    margin-right: 1em;
    font-size: 1.2em;
}

nav li a{
   color: yellowgreen;
}

nav li a:hover{
    color: yellowgreen;
 }

 a {
     color: yellowgreen;
 }

 a:hover {
    color: yellowgreen;
}

